<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:form="http://www.springframework.org/tags/form" 
	xmlns:s="http://www.springframework.org/tags">
<head>
<title>Spring Boot Model</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
	<div class="container">
		<div class="card">
			<div class="card-header"><h1>New Production</h1></div>
			<div class="card-body">
				<form method="POST" th:action="@{/product/addProduct}" th:object="${product}">
					<div class="form-group">
						<label for="title">Title</label>
						<input id="title" class="form-control" type="text" th:field="*{title}" />
						<span th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title Error</span>
					</div>
					<div class="form-group">
						<label for="decription">Description</label>
						<textarea id="description" class="form-control" rows="4" cols="20" th:field="*{description}" ></textarea>
						<span th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description Error</span>
					</div>
					<div class="form-group">
						<label id="pages">Pages</label>
						<input id="pages" class="form-control" type="text" th:field="*{pages}" />
						<span th:if="${#fields.hasErrors('pages')}" th:errors="*{pages}">Pages Error</span>
					</div>
					<div class="form-group" th:each="type, status : ${types}">
			            <label th:for="price + ${status.index}" th:text="${type}"></label>
			            <input th:id="price + ${status.index}" class="form-control" type="text" th:name="prices[__${status.index}__].value" />
			            <input class="form-control" type="hidden" th:name="prices[__${status.index}__].priceType" th:value="${type}" />
			        </div>

					<input type="submit" class="btn btn-primary" value="Upload" />
					<a href="/product/list" class="btn btn_lg btn-primary">Show all products</a>
				</form>
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.min.js" type="text/javascript"></script>
	<script src="../bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
</body>
</html>