<th:block layout:decorator="baseModel" layout:fragment="content">
	<div class="container">
		<div class="card">
			<div class="card-header">
				<h1>Shopping Cart</h1>
				<span th:text="${success}"></span>
			</div>
			<div class="card-body">
				<table id="cart-table" class="table table-sm table-hover">
					<thead class="thead-dark">
						<tr>
							<th></th>
							<th width="65%">Item</th>
							<th width="10%">Price</th>
							<th width="10%">Quantity</th>
							<th width="10%">Total</th>
							<th width="5%"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="item : ${session.cart?.items}">
							<td>
								<img width="71px" height="100px" 
									src="http://cdn.shopify.com/s/files/1/0155/7645/products/css-eficiente-featured_large.png?v=1435245145" />
							</td>
							<td><span th:text="${item.product?.title}"></span></td>
							<td><span th:text="${item.price}"></span></td>
							<td>
								<input type="number" min="0" name="quantity" th:value="${session.cart.getQuantity(item)}" />
							</td>
							<td><span th:text="${session.cart.getTotal(item)}"></span></td>
							<td>
								<form action="/cart/remove" method="post">
									<input type="hidden" name="productId" th:value="${item.product.id}" />
									<input type="hidden" name="priceType" th:value="${item.priceType}" />
							        <input type="image" src="../imagens/excluir.png" alt="Excluir" title="Excluir" />
							    </form>
							</td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td colspan="6">
								<form action="/pay" method="post">
								    <input type="submit" class="checkout" name="checkout" value="Payment" />
								</form>
							</td>
						</tr>
					</tfoot>
				</table>
				
				<!-- <table class="table table-sm table-hover">
					<thead class="thead-dark">
						<tr>
							<th>ID</th>
							<th>Title</th>
							<th>Description</th>
							<th>Release Date</th>
							<th>Pages</th>
						</tr>
					</thead>
					<tr th:each="product : ${products}">
						<td><span th:text="${product.id}"></span></td>
						<td><a href="#" th:href="@{/product/detail/} + ${product.id}" th:text="${product.title}"></a></td>
						<td><span th:text="${product.description}"></span></td>
						<td><span th:text="${product.releaseDate}"></span></td>
						<td><span th:text="${product.pages}"></span></td>
					</tr>
				</table> -->
			</div>
		</div>
	</div>









</th:block>