<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:form="http://www.springframework.org/tags/form"
	xmlns:s="http://www.springframework.org/tags"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<th:block th:replace="layout/head"></th:block>
</head>
<body>
	<th:block th:replace="layout/nav"></th:block>

	<!-- Page Content -->
	<div layout:fragment="content" >
		<ul class="list-group list-group-horizontal">
			<li class="list-group-item" th:each="product : ${products}">
				<a href="#" th:href="@{/product/detail/} + ${product.id}">
					<h2 class="product-title"><span th:text="${product.title}"></span></h2>
					<img width="143"
						height="202"
						src="https://cdn.shopify.com/s/files/1/0155/7645/products/java8-featured_large.png?v=1411490181"
						th:alt="${product.title}"
						th:title="${product.title}" />
				</a>
			</li>
		</ul>
	</div>
	<!-- /.container -->

	<th:block th:replace="layout/footer"></th:block>
</body>
</html>

